<div class="col-md-1">
</div>

<div class="col-md-10">
  <div class='row chat_container'>

    <div class="col-md-9">
      <div class="chat_messages">
        chat_messages
      </div>
      <div class="chat_area">
        chat_area
      </div>
    </div>

    <div class="col-md-3">
      <div class="chat_users">
        online_users
      </div>
    </div>

    </div>
</div>

<div class="col-md-1">
</div>
