<li>
    <span  style="color:red"><%= user %></span>  :
    <span  style="color:green"><%= message %></span>  :
    <span  style="color:blue"><%= time %></span>

    <span class="dialect_flag"><%= current_dialect %></span>
</li>
