<div class="col-md-1">
</div>

<div class="col-md-10">
  <div class='row chat_container'>

    <div class="col-md-9">
      <%= render 'shared/chat_messages' %>
      <%= render 'shared/chat_area' %>
    </div>

    <div class="col-md-3">
      <%= render 'shared/chat_users' %>
    </div>

  </div>
</div>

<div class="col-md-1">
</div>
