.navbar-default{
  margin-bottom:0px;
}
.welcome_form{
  border: 2px solid #efefef;
  border-radius: 2px;
  padding:50px 100px;
  margin-top:20px;
  .user_name{
    margin: 0 auto;
  }
}
.alert-notice{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
