.navbar-default{
  margin-bottom:0px;
}

.margin_top_extra{
  margin-top:20px;
}

.alert-notice{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.dialect_flag{
  float: right;
  margin-right: 10px;
  color: teal;
}
