.welcome_form{
  border: 2px solid #efefef;
  border-radius: 2px;
  padding:30px 30px;
}


.chat_container{
  .chat_messages{
    height: 400px;
  }
  .chat_area{
    height: 50px;
  }
  .chat_users{
    height: 450px;
  }
  .chat_messages, .chat_area, .chat_users{
    border: 2px solid #efefef;
    border-radius: 2px;
  }
}
