.welcome_form{
  border: 2px solid #efefef;
  border-radius: 2px;
  padding:30px 30px;
}


.chat_container{
  .chat_messages{
    height: 400px;
    h3{
      text-align: center;
      border-bottom: 1px solid #efefef;
      background: #efefef;
      margin-top: 0px;
      padding: 16px;
    }
  }
  .chat_area{
    height: 50px;
    .input-group-addon{
      padding: 0px;
    }
    .custom_send_button{
    height: 72px;
    width: 72px;
    }
  }
  .chat_users{
    height: 490px;
    h3{
      text-align: center;
      border-bottom: 1px solid #efefef;
      background: #efefef;
      margin-top: 0px;
      padding: 16px;
    }
  }
  .chat_messages, .chat_users{
    border: 2px solid #efefef;
    border-radius: 2px;
  }
}


